/* 
*	
*	
*/

html
{
	background: url(../Reference/Images/Background.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

body
{
	margin: 20px;
}

button
{
    border-radius: 20px;
}

h1
{
	color: red;
	text-align: center;
	font-family: "Times New Roman", Times, Serif;
	font-size: 70px;
}

h3
{
	color: red;
	text-align: center;
	font-family: "Times New Roman", Times, Serif;
	font-size: 35px;
}
.bBridge
{
	text-align: center;

}
.bioLink
{
	text-align: center;
	color: white;
	font-size: 25px;
}
