/* 
*	
*	
*/

html
{
	background: url(../Reference/Images/Background.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

body
{
	margin: 20px;
}

button
{
    background-size: 200%;
}

h1
{
	color: #7514ff;
	text-align: center;
	font-family: "Times New Roman", Times, Serif;
	font-size: 700px;
}

h3
{
	color: #7514ff;
	text-align: center;
	font-family: "Times New Roman", Times, Serif;
	font-size: 35px;
}
.bBridge
{
	text-align: center;

}
.restartLink
{
	text-align: center;
	color: red;
	font-size: 25px;
    font-family: Serif;
}
