/* 
*	
*	
*/

html
{
	background: url(../Reference/Images/Background.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

div
{
    color: #68ff53;
}

body
{
	margin: 20px;
}

button
{
}

h1
{
	color: #7514ff;
	text-align: center;
	font-family: "Times New Roman", Times, Serif;
    font-size: 100%;
}

h3
{
    font-size: 150%;/* ndoinasodinwwdasd*/
	color: #7514ff;
	text-align: center;
	font-family: "Times New Roman", Times, Serif;

}
.bBridge
{
	text-align: center;

}
.restartLink
{
	text-align: center;
	color: red;
    font-size: 190%;
    font-family: Serif;
}
